{% extends 'base.html.twig' %}


{% block title %}Demande{% endblock %}

{% block body %}

<br>

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

  <h1>Formuler une demande pour le CSE</h1>
<br>

  <div class="form-group">
    {{ form_start(DemandeForm) }}

        {{ form_row(DemandeForm.subject, {
            label: 'Nature de la demande'
        }) }}
        {# {{ form_row(DemandeForm.datecreation)}} #}
        {{ form_row(DemandeForm.content) }}

        <div class="">
          <button type="submit" class="btn btn-lg btn-primary" onclick="window.location.href='{{path('cse')}}'">Soumettre la demande</button>
          <button type ="" class"btn btn-lg btn-primary" onclick="window.location.href='{{path('accueil')}}'"> Retour </button>
        </div>
    {{ form_end(DemandeForm) }}
</div>







{% endblock %}
