{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du CSE{% endblock %}

{% block body %}

<script src="https://kit.fontawesome.com/d518001464.js" crossorigin="anonymous"></script>

<div class="container">
  <h3>
    Liste des demandes et remarques faites au CSE
  </h3>
  {% for demande in demandes %}
    <div class='row'>
    {{ demande.datecreation|date("d/m/y") }}
    {{ demande.editeur }}
    {{ demande.email }}

    {{ demande.contenu }}
    </div>
  {% endfor %}
</div>
<button type="button" class="btn btn-lg" onclick="window.location.href='{{path('cse')}}'">Retour</button>
{% endblock %}
