{% extends 'base.html.twig' %}

{% block title %}Topics index{% endblock %}

{% block body %}
    <h1>Topics index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Edited_at</th>
                <th>Content</th>
                <th>Type</th>
                <th>Pin</th>
                <th>Msg_counter</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td>{{ topic.id }}</td>
                <td>{{ topic.subject }}</td>
                <td>{{ topic.editedAt ? topic.editedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ topic.content }}</td>
                <td>{{ topic.type }}</td>
                <td>{{ topic.pin ? 'Yes' : 'No' }}</td>
                <td>{{ topic.msgCounter }}</td>
                <td>
                    <a href="{{ path('topics_show', {'id': topic.id}) }}">show</a>
                    <a href="{{ path('topics_edit', {'id': topic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('topics_new') }}">Create new</a>
{% endblock %}
