{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<script src="https://kit.fontawesome.com/d518001464.js" crossorigin="anonymous"></script>

<div>

  {% if app.user %}
  <h1> Bienvenue {{app.user.username}} ! </h1>
  {% endif %}

  <h1> Vous êtes sur la page d'accueil du futur site web pour les salariés de la Maison des Elèves </h1>
    <h2> Ce site est développé par GUERIN Alexis et PERRIN Marc </h2>
</div>

<div class="alert alert-primary" role="alert">
  Le site est toujours en cours de développement, <a href="#" class="alert-link">contacter</a> les développeurs pour plus d'informations
</div>
<div class="container-fluid btn-toolbar btn-group btn-group-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="row justify-content-center">
          CSE
        </div>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-lg fas fa-hands-helping" onclick="window.location.href='{{path('cse')}}'" ></button>
        </div>
      </div>
      <div class="col-sm">
        <div class="row justify-content-center">
          Espace Comptable
        </div>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-lg fas fa-calculator" onclick="window.location.href='{{path('comptabilite')}}'"></button>
        </div>
      </div>

      <div class="col-sm ">
        <div class="row justify-content-center">
          Espace Maintenance
        </div>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-lg fas fa-hammer" onclick="window.location.href='{{path('maintenance')}}'"></button>
        </div>
      </div>
      <div class="col-sm">

        <div class="row justify-content-center">
          Espace Veilleurs
        </div>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-lg fas fa-eye" onclick="window.location.href='{{path('veilleur')}}'""></button>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
{% endblock %}
