{% extends 'base.html.twig' %}

{% block title %}Calendriers index{% endblock %}

{% block body %}
    <h1>Liste des évènements </h1>

    <br>


      <div class="buttons-toolbar">
      </div>

    <br>
    <table class="table table-sm table-striped table-borderless"
            data-toggle="table" data-search="true" data-show-columns="true" data-show-refresh="true" data-buttons-toolbar=".buttons-toolbar" data-pagination="true" >
        <thead>
            <tr>
                <th>Titre</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Description</th>
                <th>Toute la journée </th>
                <th>Espace </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for calendrier in calendriers %}
            <tr>
                <td>{{ calendrier.title }}</td>
                <td>{{ calendrier.start ? calendrier.start|date("d  /m/Y H:i", "Europe/Paris")}}</td>
                <td>{{ calendrier.end ? calendrier.end|date("d  /m/Y H:i", "Europe/Paris" ) }}</td>
                <td>{{ calendrier.description }}</td>
                <td>{{ calendrier.allDay ? 'Oui' : 'Non' }}</td>
                <td>{{ calendrier.espace }}</td>

                <td>
                  <div class="container d-flex h-100">
                    <a href="{{ path('calendriers_edit', {'id': calendrier.id}) }}">Editer</a>
                    {{ include('calendriers/_delete_form.html.twig') }}
                  </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10"> Pas d'évènements crées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
      <a class="btn btn-primary" href="{{ path('calendriers_new') }}">Créer nouveau évènement</a>
      <a class="btn btn-primary" href="{{ path('veilleur') }}">Retour à l'espace veilleur</a>
    </div>


{% endblock %}
