{% extends 'base.html.twig' %}

{% block title %}Demandes comptable{% endblock %}

{% block body %}
    <h1>Liste des demandes à la comptable</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Salarié</th>
                <th>Objet</th>
                <th>Motif</th>
                <th>Date de création</th>
                <th>Heures supplémentaires déclarées</th>
                <th>Heures de récup demandées</th>
                <th>Jours de congés demandés</th>
                <th>Acompte demandé</th>
                <th>Compteur d'heures du salarié</th>
                <th>Compteur de congés payés du salarié</th>
                <th>Demande acceptée ?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for demande_comptable in demande_comptables %}
            <tr>
                <td>{{ demande_comptable.user }}</td>
                <td>{{ demande_comptable.object }}</td>
                <td class='text-justify'>{{ demande_comptable.content }}</td>
                <td>{{ demande_comptable.createdat ? demande_comptable.createdat|date('d-m-Y') : '' }}</td>
                <td>{{ demande_comptable.hourssupp }}</td>
                <td>{{ demande_comptable.hoursrequest }}</td>
                <td>{{ demande_comptable.holidaysrequest }}</td>
                <td>{{ demande_comptable.money }}</td>
                <td>{{ demande_comptable.user.userData.hours }}</td>
                <td>{{ demande_comptable.user.userData.holidays }}</td>
                <td>{{ demande_comptable.accepted ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('demande_comptable_show', {'id': demande_comptable.id}) }}">Voir</a>
                    {# <a href="{{ path('demande_comptable_edit', {'id': demande_comptable.id}) }}">Modifier</a> #}
                    <a href="{{ path('demande_comptable_delete', {'id': demande_comptable.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune demande trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('demande_comptable_salarie') }}">Liste des salariés</a>
    <a href="{{ path('demande_comptable_index') }}">Retour</a>
{% endblock %}
