{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}

<link rel="stylesheet" href="css/bootstrap.min.css">

<script src="https://kit.fontawesome.com/d518001464.js" crossorigin="anonymous"></script>
    
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Formuler une demande à la comptable</h1>
    {{ form_start(comptaForm) }}
        {{ form_row(comptaForm.nomdemandeur, {
            label: 'Nom'
        }) }}
        {{ form_row(comptaForm.maildemandeur, {
            label: 'Votre email'
        }) }}
        {# <div>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{app.user.username}} >
        </div> #}
        {{ form_row(comptaForm.objet, {
            label: 'Objet de la demande'
        }) }}
        {# {{ form_row(cseForm.datecreation)}} #}
        {{ form_row(comptaForm.contenu) }}

        <button type="submit" class="btn" onclick="window.location.href='http://127.0.0.1:8000/comptabilite'">Soumettre la demande</button>
        
    {{ form_end(comptaForm) }}
    
    <button type ="button" class"btn btn-lg" onclick="window.location.href='http://127.0.0.1:8000/comptabilite'">Retour</button>
{% endblock %}
